@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

.navbar-brand {
    align-items: center;
    margin-left: 30px;
    font-size: 25px;
}

.navbar-toggler {
    background-color: transparent;
    outline: thin;
    margin: 10px;
    font-size: 20px;
}

.collapse a:hover {
    color: #6d5a5a;
}

.collapse i{
    font-size: 17px;
}
.collapse i:hover {
    color: #6d5a5a;
}

.container-fluid i{
    font-size: 17px;
}

.container-fluid a:hover {
    color: #6d5a5a;
}

.container-fluid i:hover {
    color: #6d5a5a;
}

#social_media {
    font-size: 30px;
}

#credit {
    font-size: 14px;
    margin-top: 150px;
}

#credit i:hover {
    color: #8b0000;
}

#intro {
    margin-top: 150px;
    margin-left: 250px;
}

h1 {
    text-decoration: underline;
    padding-bottom: 10px;
    font-size: 35px;
    color: #5a4040;
}

h3{
    font-style: italic;
    text-transform: capitalize;
    color: #6d5a5a;
}
/* Animations */

.collapse a{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.collapse a:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.collapse a:hover, .collapse a:focus, .collapse a:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.collapse a:hover:before, .collapse a:focus:before, .collapse a:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


.container-fluid a{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.container-fluid a:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.container-fluid a:hover, .container-fluid a:focus, .container-fluid a:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.container-fluid a:hover:before, .container-fluid a:focus:before, .container-fluid a:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
